<a href="#"><button class="btn btn-default text-right"(click)="getResult() "> Search</button></a>
<table class="table table-hover ">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Result</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of list">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.result}}</td>
        </tr>
      </tbody>
  </table>
 